<%= render 'layouts/header2' %>
<div class="jumbotron" style="padding: 100px">
<h2 class="text-center">New User Log</h2>

<%= render 'form' %>

<div style="margin-top:10px" class="text-center"><%= link_to 'Back', user_logs_path %></div>
</div>
<%= render 'layouts/footer' %>