<div class="jumbotron">
<h2 class="text-center">Editing Goal</h2>

<%= render 'form' %>
<div style="margin-top:10px" class="text-center"><%= link_to 'Show', @goal %> |
<%= link_to 'Back', goals_path %></div>

</div>
