// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";


@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.navbar {
    background-color:#222222;
}
.wellcome {
    font-size: 100px;
    color: #E7E7E7;
}

.home-section {
    min-height: 650px;
    padding-top: 250px;
    background-image: url(4.jpg);
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.about-section {
    height: 100%;
    padding-top: 35px;
    min-height: 650px;
}

.team-section {
    min-height: 650px;
    padding-top: 150px;
}

.contact-section {
    min-height: 650px;
    padding-top: 100px;
}



.team-member {
    margin-bottom: 50px;
    text-align: center;
}
.img-centered {
    margin: 0 auto;
}

.map {
    min-width: 300px;
    min-height: 300px;
    width: 100%;
    height: 100%;
}

.map-header {
    background-color: #F5F5F5;
    color: #36A0FF;
    height: 70px;
    font-size: 27px;
    padding: 10px;
}


footer {
    background-color:#2b2b2b;
    color:#ddd;
    min-height:50px;
    padding-top:20px;
    padding-bottom:40px;
}

footer .nav>li>a {
    padding: 3px;
    color: #f44d3c;
}

footer .nav>li>a:hover {
    background-color:transparent;
    color:#fff;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #fed136;
}
// /////////////////////////////////////////////////////////////
/* User sign in and sign forms. */
.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 100px auto 50px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
////////////////////////////////////////////////////////////
.log-section{
    margin:100px auto 50px;
}